
title {
    
}

ul {
    list-style-type: none;
    position: fixed;
    top: 0;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
        
}

.assignlist {
    text-align: center;
    border: black solid;
    border-radius: 15px;
    margin: 50px 300px;
}

.bday {
    text-align: center;
}
body {
    background-color: #949494;
}

ul:hover {
    color: red;
}

a:hover {
    color: red;
}

li {
    text-align: center;
}

.wrapimage {
    text-align: center;
}

.carpic {
    width: 100;
    height: 100;
}

.imagetitle {
    color: greenyellow;
    font-family: cursive;
}
