
title {
    
}

ul {
    list-style-type: none;
}

.assignlist {
    text-align: center;
    border: black solid;
    border-radius: 15px;
    box-sizing: border-box;
}

.bday {
    text-align: center;
}
body {
    background-color: #949494;
}

ul:hover {
    color: red;
}

a:hover {
    color: red;
}
