
title {
    
}

ul {
    list-style-type: none;
}

.assignlist {
    text-align: center;
}

.bday {
    text-align: center;
}
body {
    background-color: #949494;
}

ul:hover {
    text-decoration-color: red;
}
